# Framework
# ---------
YII_ENV         = dev
YII_DEBUG       = true
ASSET_BUNDLE    = false

MONGODB_DSN     = mongodb://localhost:27017/saxovat

# Urls
# ----
API_URL             = http://api.saxovat.lc/v1/
FRONTEND_URL        = https://saxovat.lc/
BACKEND_URL         = https://backend.saxovat.lc/
STATIC_URL          = http://static.saxovat.lc/

# Auth clients
#-------------
GOOGLE_CLIENT_ID        = <g_i_token>
GOOGLE_CLIENT_SECRET    = <g_s_token>
FACEBOOK_CLIENT_ID      = 1858644590836825
FACEBOOK_CLIENT_SECRET  = c9015d4f69f9b6ce265581484f848db5
TWITTER_CONSUMER_KEY    = <t_k_token>
TWITTER_CONSUMER_SECRET = <t_s_token>

# Sharer
#-------
FACEBOOK_PAGE_ID        = <fb_page_id>
FACEBOOK_PAGE_TOKEN     = <fb_page_token>

# Weather
#--------
OWM_API_KEY         = <owm_api_key>

# ReCaptcha
#----------
RE_CAPTCHA_KEY      = <key>
RE_CAPTCHA_TOKEN    = <secret>

# Telegram
#---------
BOT_TOKEN   = <bot_token>
CHANNEL_ID  = <channel_id>

# Other
# -----
SMTP_HOST       = smtp.gmail.com
SMTP_PORT       = 25
EMAIL_LOGIN     = <your-gmail-login>
EMAIL_PASSWORD  = <your-password>
SMTP_ENC        = tls

API_COOKIE_VALIDATION_KEY       = 'YIri2RNUn2k6T9AgtWiQ4nKImQF_azqB'
FRONTEND_COOKIE_VALIDATION_KEY  = 'EGeS9svUWhYIj3HYMoIITFeqNz5MTtx8'
BACKEND_COOKIE_VALIDATION_KEY   = 'kS_oCGdNEyLZ1qBuSl8QjU3BTS2v-7kg'
LITE_COOKIE_VALIDATION_KEY      = 'Rt7XrroLSXppgIq0CpbCsUf053k9l1r0'

ADMIN_EMAIL     = admin@mehrli.uz